In [4]:
# glob 라이브러리를 포함 glob메서드는 특정한 패턴의 이름을 가진 파일을 한 번에 읽어들일 수 있다.
import glob
import pandas as pd

In [2]:
nyc_taxi_data = glob.glob('../datascience/data/fhv_*')

In [3]:
print(nyc_taxi_data)

['../datascience/data\\fhv_tripdata_2015-01.csv', '../datascience/data\\fhv_tripdata_2015-02.csv', '../datascience/data\\fhv_tripdata_2015-03.csv', '../datascience/data\\fhv_tripdata_2015-04.csv', '../datascience/data\\fhv_tripdata_2015-05.csv']

In [5]:
taxi1 = pd.read_csv(nyc_taxi_data[0])
taxi2 = pd.read_csv(nyc_taxi_data[1])
taxi3 = pd.read_csv(nyc_taxi_data[2])
taxi4 = pd.read_csv(nyc_taxi_data[3])
taxi5 = pd.read_csv(nyc_taxi_data[4])

In [8]:
print(taxi1.head())
print(taxi2.head())
print(taxi3.head())
print(taxi4.head())
print(taxi5.head())

  Dispatching_base_num          Pickup_date  locationID
0               B00013  2015-01-01 00:30:00         NaN
1               B00013  2015-01-01 01:22:00         NaN
2               B00013  2015-01-01 01:23:00         NaN
3               B00013  2015-01-01 01:44:00         NaN
4               B00013  2015-01-01 02:00:00         NaN
  Dispatching_base_num          Pickup_date  locationID
0               B00013  2015-02-01 00:00:00         NaN
1               B00013  2015-02-01 00:01:00         NaN
2               B00013  2015-02-01 00:21:00         NaN
3               B00013  2015-02-01 01:00:00         NaN
4               B00013  2015-02-01 02:10:00         NaN
  Dispatching_base_num          Pickup_date  locationID
0               B00029  2015-03-01 00:02:00       213.0
1               B00029  2015-03-01 00:03:00        51.0
2               B00029  2015-03-01 00:11:00         3.0
3               B00029  2015-03-01 00:11:00       259.0
4               B00029  2015-03-01 00:13:00       174.0
  Dispatching_base_num          Pickup_date  locationID
0               B00001  2015-04-01 04:30:00         NaN
1               B00001  2015-04-01 06:00:00         NaN
2               B00001  2015-04-01 06:00:00         NaN
3               B00001  2015-04-01 06:00:00         NaN
4               B00001  2015-04-01 06:15:00         NaN
  Dispatching_base_num          Pickup_date  locationID
0               B00001  2015-05-01 04:30:00         NaN
1               B00001  2015-05-01 05:00:00         NaN
2               B00001  2015-05-01 05:05:00         NaN
3               B00001  2015-05-01 06:15:00         NaN
4               B00001  2015-05-01 06:15:00         NaN

In [11]:
print(taxi1.shape)
print(taxi2.shape)
print(taxi3.shape)
print(taxi4.shape)
print(taxi5.shape)

(2746033, 3)
(3126401, 3)
(3281427, 3)
(3917789, 3)
(4296067, 3)

In [13]:
taxi = pd.concat([taxi1, taxi2, taxi3, taxi4, taxi5])
print(taxi.shape)

(17367717, 3)

In [20]:
sum = 0
for x in range(1,6):
    glo = globals()[f'taxi{x}']
    sum += glo.shape[0]
    
print(sum)

17367717

In [15]:
list_taxi_df = []

for csv_filename in nyc_taxi_data:
    df = pd.read_csv(csv_filename)
    list_taxi_df.append(df)
    
print(len(list_taxi_df))

5

In [21]:
print(type(list_taxi_df[0]))
print(list_taxi_df[0].head())
taxi_loop_concat = pd.concat(list_taxi_df)
print(taxi_loop_concat.shape)

<class 'pandas.core.frame.DataFrame'>
  Dispatching_base_num          Pickup_date  locationID
0               B00013  2015-01-01 00:30:00         NaN
1               B00013  2015-01-01 01:22:00         NaN
2               B00013  2015-01-01 01:23:00         NaN
3               B00013  2015-01-01 01:44:00         NaN
4               B00013  2015-01-01 02:00:00         NaN
(17367717, 3)

In [22]:
# taxi와 taxi_loop_concat은 동일하다.
print(taxi.equals(taxi_loop_concat))

True